name: Auto-commit changes

on:
  push:
    branches: [ dev ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Update readme.md
      run: | 
        export PYTHONPATH=$PWD
        echo $PYTHONPATH
        python3 .github/scripts/update_readme.py
    - name: Check for changes
      id: changes
      run: |
        git config --global user.email "actions@github.com"
        git config --global user.name "GitHub Actions"
        git diff --quiet || git commit -am "Automatic update of attibutes in README.md"

    - name: Push changes
      if: steps.changes.outputs.return-code == 1
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
